In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
import time
import requests
from bs4 import BeautifulSoup

import pandas as pd

import openpyxl
import os
import sys
import time
import json
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

from geopy.geocoders import Nominatim

In [ ]:
def kakao(key) :
    
    driver = webdriver.Chrome("chromedriver")
    url = "https://map.kakao.com/"
    driver.get(url)

    searchbox = driver.find_element(By.ID, 'search.keyword.query')
    searchbox.send_keys("서울시 {} 음식점".format(key))

    searchbutton = driver.find_element(By.ID, 'search.keyword.submit')
    driver.execute_script('arguments[0].click();', searchbutton)
    time.sleep(2)

    more = driver.find_element(By.ID, 'info.search.place.more')
    driver.execute_script('arguments[0].click();', more)
    time.sleep(2)

    kakao_df = pd.DataFrame()
    
    for j in range(8) :
    
        title = []
        category = []
        rating = []
        rating_num = []
        review = []
        address = []

        for i in range(5) :

            page = driver.find_element(By.ID, 'info.search.page.no{}'.format(i+1))
            driver.execute_script('arguments[0].click();', page)
            time.sleep(2)
            title_element = "ul.placelist>li.PlaceItem.clickArea>div.head_item.clickArea>strong.tit_name"
            cate_element = "ul.placelist>li.PlaceItem.clickArea>div.head_item.clickArea>span.subcategory.clickable"
            rating_element = "ul.placelist>li.PlaceItem.clickArea>div.rating.clickArea>span.score>em.num"
            ratingnum_element = "ul.placelist>li.PlaceItem.clickArea>div.rating.clickArea>span.score>a.numberofscore"
            re_element = "ul.placelist>li.PlaceItem.clickArea>div.rating.clickArea>a.review>em"
            add_element = "ul.placelist>li.PlaceItem.clickArea>div.info_item>div.addr"

            for x in driver.find_elements(By.CSS_SELECTOR, title_element) :
                title.append(x.text)

            for x in driver.find_elements(By.CSS_SELECTOR, cate_element) :
                category.append(x.text)

            for x in driver.find_elements(By.CSS_SELECTOR, rating_element) :
                rating.append(x.text)    

            for x in driver.find_elements(By.CSS_SELECTOR, ratingnum_element) :
                rating_num.append(x.text)

            for x in driver.find_elements(By.CSS_SELECTOR, re_element) :
                review.append(x.text)

            for x in driver.find_elements(By.CSS_SELECTOR, add_element) :
                address.append(x.text)

            df0 = pd.DataFrame({'Store' : title, 'Category' : category, 
                               'Rating' : rating, 'RatingNum' : rating_num, 'Review' : review, 'Address' : address})
        
        kakao_df = pd.concat([kakao_df, df0], axis = 0)

        nxt = driver.find_element(By.ID, 'info.search.page.next')
        driver.execute_script('arguments[0].click();', nxt)
        time.sleep(2)
    
    driver.close() 

    return kakao_df


# 좌표변환
def geocoding(area):
    try:
        geolocoder = Nominatim(user_agent = 'South Korea', timeout=None)
        geo = geolocoder.geocode(area)
        x_y = [geo.latitude, geo.longitude]
        return x_y
    
    except:
        return [0,0]

    
# 전처리
def preprocessing(df) :
    
    new = []
    for t in df['Store'] :
        new.append(' '.join(t.split(' ')[1:]))
    df['newTitle'] = new
    
    new_add1 = []
    new_add2 = []
    
    for x in df['Address'] :
        a = x.split('\n(지번)')
        new_add1.append(a[0])
        new_add2.append(b[1])
        
    df['도로명'] = new_add1
    df['지번'] = new_add2
    
    
    lati = []
    longit = []
    for y in df['도로명'] :
        y = ' '.join(y.split(' ')[:4])
        
        lat = geocoding(y)[0]
        long = geocoding(y)[1]
        
        lati.append(lat)
        longit.append(long)
    
    df['latitude'] = lati
    df['longitude'] = longit
    
    return df

In [ ]:
key_lst = ['노원구', '중랑구', '광진구', '도봉구', '강북구', '동대문구', '성동구', '성북구',
           '종로구', '중구', '용산구', '은평구', '서대문구', '마포구' ,'강서구', '양천구', '구로구', 
           '영등포구', '금천구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구']

final_df = pd.DataFrame()

for key in key_lst :
    df = kakao(key)
    final_df = pd.concat([final_df, df], axis = 0)
    
final_df.shape

# 카카오맵 리뷰 데이터 수집

### 1. '서울시 음식점' 상위 10개 음식점 가게명 수집

In [78]:
def kakao() :
    
    driver = webdriver.Chrome("chromedriver")
    url = "https://map.kakao.com/"
    driver.get(url)

    searchbox = driver.find_element(By.ID, 'search.keyword.query')
    searchbox.send_keys("서울시 음식점")

    searchbutton = driver.find_element(By.ID, 'search.keyword.submit')
    driver.execute_script('arguments[0].click();', searchbutton)
    time.sleep(2)
    
    sort = driver.find_element(By.XPATH, '//*[@id="info.search.place.sort"]/li[2]')
    driver.execute_script('arguments[0].click();', sort)
    time.sleep(1.5)

    more = driver.find_element(By.ID, 'info.search.place.more')
    driver.execute_script('arguments[0].click();', more)
    time.sleep(2)

    kakao_df = pd.DataFrame()
    
    for j in range(3) :
    
        title = []
        category = []
        rating = []
        rating_num = []
        review = []
        address = []

        for i in range(2) :

            page = driver.find_element(By.ID, 'info.search.page.no{}'.format(i+1))
            driver.execute_script('arguments[0].click();', page)
            time.sleep(2)
            title_element = "ul.placelist>li.PlaceItem.clickArea>div.head_item.clickArea>strong.tit_name"
            cate_element = "ul.placelist>li.PlaceItem.clickArea>div.head_item.clickArea>span.subcategory.clickable"
            rating_element = "ul.placelist>li.PlaceItem.clickArea>div.rating.clickArea>span.score>em.num"
            ratingnum_element = "ul.placelist>li.PlaceItem.clickArea>div.rating.clickArea>span.score>a.numberofscore"
            re_element = "ul.placelist>li.PlaceItem.clickArea>div.rating.clickArea>a.review>em"
            add_element = "ul.placelist>li.PlaceItem.clickArea>div.info_item>div.addr"

            for x in driver.find_elements(By.CSS_SELECTOR, title_element) :
                title.append(x.text)

            for x in driver.find_elements(By.CSS_SELECTOR, cate_element) :
                category.append(x.text)
                
            for x in driver.find_elements(By.CSS_SELECTOR, rating_element) :
                rating.append(x.text)    

            for x in driver.find_elements(By.CSS_SELECTOR, ratingnum_element) :
                rating_num.append(x.text)

            for x in driver.find_elements(By.CSS_SELECTOR, re_element) :
                review.append(x.text)

            for x in driver.find_elements(By.CSS_SELECTOR, add_element) :
                address.append(x.text)                

            df0 = pd.DataFrame({'Store' : title, 'Category' : category, 
                               'Rating' : rating, 'RatingNum' : rating_num, 'Review' : review, 'Address' : address})
        
        kakao_df = pd.concat([kakao_df, df0], axis = 0)

        nxt = driver.find_element(By.ID, 'info.search.page.next')
        driver.execute_script('arguments[0].click();', nxt)
        time.sleep(2)
    
    driver.close() 

    return kakao_df

def preprocess(df) :
    df0 = df.copy()
    lst = []
    for x in df['Store'] :
        lst.append(' '.join(x.split(' ')[1:]))
    
    df0['Store'] = lst
    
    re = []
    for x in df['Review'] :
        re.append(int(x.replace(',', '')))
    df0['Review'] = re
    
    return df0

In [79]:
df = kakao()
df0 = preprocess(df)

In [88]:
df0 = df0.reset_index(drop = True)

In [92]:
def review_text(key, scroll):
    driver = webdriver.Chrome("chromedriver")
    url = "https://map.kakao.com/"
    driver.get(url)

    searchbox = driver.find_element(By.ID, 'search.keyword.query')
    searchbox.send_keys('서울 {}'.format(key))


    searchbutton = driver.find_element(By.ID, 'search.keyword.submit')
    driver.execute_script('arguments[0].click();', searchbutton)
    time.sleep(2)

    new_path = '//*[@id="info.search.place.list"]/li/div[4]/a'
    new_window = driver.find_element(By.XPATH, new_path)
    driver.execute_script('arguments[0].click();', new_window)
    time.sleep(2)

    driver.switch_to.window(driver.window_handles[-1])
    time.sleep(3)

    for i in range(scroll) :
        more = driver.find_elements(By.CSS_SELECTOR, 'span.txt_more')[0]
        driver.execute_script('arguments[0].click();', more)
        time.sleep(1)

    review = driver.find_elements(By.CSS_SELECTOR, 'p.txt_comment.txt_fold')


    re_lst = []
    for x in review :
        re_lst.append(x.text)

    time.sleep(2)
    driver.quit()
    
    return re_lst

In [93]:

# store = list(df0['Store'])
# scroll = 
# review_lst = []
# for key in store :
#     review = review_text(key)
#     review_lst.append(review)

review_lst = []

for i in range(len(df0)) :
    key = df0.loc[i, 'Store']
    scroll = (df0.loc[i, 'Review'] - 3) // 5
    
    review = review_text(key, scroll)
    review_lst.append(review)
    
key = df0.loc[1, 'Store']
scroll = (df0.loc[1, 'Review'] - 3) // 5

review = review_text(key, scroll)
review_lst.append(review)

In [94]:
review_lst

[['강남의 랭면 행복,,, 다른 평냉보다,,\n간이 좀 짠 특색,, 고기류도 근본,,,\n\n행복은,,, 어디에나 있는 것,,, ^^  \n@azossii\n더보기',
  '육수에 간이 강해서 살짝 놀랐다가 먹다보니 또 적응됨. 그날따라 내 혀에 무슨 일이 있었나 면 메밀향이랑 육수 육향이 잘 느껴지지 않아 괴로왔는데 냉면 안에 편육 두 조각이 천국이었음; 육수는 뭔가 잘 모르겠음..ㅜ\n\n그치만 역시 내 마음 속 원픽은 역시 “필동”인 건가…\n필동>을밀대/을지>…. 우래옥.. 그 다음 진미..\n후… 필동 마렵다…\n\n너무 시끄러워서 다시 가지는 않을듯\n더보기',
  'Honeypig in Seoul\n\n솔직한 나의 생각:\n\n- 개인적인 취향저격한 슴슴하지만 육수향이 약간 나서 중독성 있는 적당함\n- 개취임 !!\n\n재방문 의사 :\n☆☆☆☆☆ 85 - 100 %\n☆☆☆☆ 70 - 84 %\n☆☆☆ 50 - 69 %\n☆☆ 20 - 49 %\n☆ 10 % 이하\n\nBy @travelling_honeypig\n더보기',
  "ㅡㅡ22.09.\n항공 데시벨을 뚫고 먹고 옴(선주후면)\n맛 예전과 同\n\n만두 추가- 평이 담박泊 호평\n\n\nㅡㅡ\n22.03.경\n\n2인 어복쟁반 大.\n굳.\n\n*팁: 붐빌 때 자리안내 없으면 걍 별관 들가면 됨\n\n\n\n육유(肉油)에 절여진 쑥갓의 맛. \n'좋은 기억'\n\n\n\nㅡㅡㅡ\n22.연초\n\n육수 초 상등 '여전(如前)'. \n면발 리스크 有.\n\n\n\n\nㅡㅡㅡ\n21.하반기\n\n-'수인가능성 측정기'\n평냉 처음먹는 검증대상을 불러내, 싱겁다며 연신 불평하면 바로 차단.\n\n-슬램덩크로 치면 정우성.\n\n-일반음식점 별3개 만점 '무시'.\n\n-'하늘은 을지면옥을 낳고 왜 또 진미를 낳았는가'\n생각해 볼 일. (삼국연의 주유 대사 오마쥬)\n\n*비고\n주차요원의 불친절은 웨이팅을 줄이는 추진력을 얻기 위한 포석(布石).\n더보기",
  '그냥 평냉맛, 평냉중에는 괜찮다고 느꼈는데 엄청 맛집인지는 평냉고수가 아니라 판별불가능, 저녁이라 그런지 평냉보다 불고기나 어복쟁반로 술 한잔 하신분들이 많았던 건 인상적. 알고보면 좀 비씬 고기맛집일수도\n\n사진은\n평냉 14000 만두반접시(3알) 7000\n더보기',
  '흠 가성비가 별로긴 하지만 어쩌다가 재방문했는데요. 이번에 갔을 때는 사람이 너무 많아 귀가 아플 정도로 시끄러웠고, 그건 그렇다쳐도 면이 다소 오버쿠킹되어 저번보다 별로였어요. 만두도 이 정도 가격이라면 더 잘 나와야될 것 같은데, 여러모로 좋은 느낌 못 받았습니다.\n더보기',
  '그냥 평냉맛, 평냉중에는 괜찮다고 느꼈는데 엄청 맛집인지는 평냉고수가 아니라 판별불가능, 저녁이라 그런지 평냉보다 불고기나 어복쟁반로 술 한잔 하신분들이 많았던 건 인상적. 알고보면 좀 비씬 고기맛집일수도\n\n사진은\n평냉 14000 만두반접시(3알) 7000\n더보기',
  '흠 가성비가 별로긴 하지만 어쩌다가 재방문했는데요. 이번에 갔을 때는 사람이 너무 많아 귀가 아플 정도로 시끄러웠고, 그건 그렇다쳐도 면이 다소 오버쿠킹되어 저번보다 별로였어요. 만두도 이 정도 가격이라면 더 잘 나와야될 것 같은데, 여러모로 좋은 느낌 못 받았습니다.\n더보기',
  '평양냉면과의 첫 만남으로 나는 역시 힘들었ㄱ..\n만두가 진짜 정말 맛있음.\n만두 맛집.\n불고기는 슴슴하니 나쁘지 않았음.\n양은 많지 않음.\n더보기',
  '평양냉면에 눈을 뜨게 해준 집\n첫 인상은 발렛아저씨가 많아서 장사가 잘되나보다, 가게는 좀 중국이나 북한스러운 느낌ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ\n냉면집 가격대야 뻔해서 딱 그정도\n개인적으로 백화점에 있는 냉면집보다는 훨씬 낫음\n하나 걸리는건 한우가 아님ㅋㅋㅋ\n더보기',
  '냉면 한 그릇에 14,000원 ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ에혀ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ소주, 맥주 6000원 ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ\n더보기',
  '1. 서비스: 몇몇 아줌마는 휴가때 초등학교 6학년 도덕수업 청강하길 바란다. 바로 옆에서 불러도 쌩까는 능력은 국내업계에서 최정상급이다.\n\n2. 맛: 정수기물에 고무줄 덩어리 넣은 맛. 김정은이 맛봤으면 요리사 참수할 맛. 아사 직전인 북한주민들에게 줘도 개밥으로 오해받을 맛. 편의점 둥지냉면에도 못미치는 맛.\n\n몇몇 한국인들은 평양냉면이 맛있다는 가스라이팅에 이미 세뇌되었다.\n평양냉면이 맛있다고 말하면 자신이 미식가가 된 것으로 착각하고 남들보다 세련된 입맛을 가졌다고 생각한다.\n즉 그들은 평냉 선민사상에 빠져 살고있다.\n\n뭐? 평양냉면은 몇번 먹다보면 맛있어진다고? \n먹다보면 맛있어진다는 말은 대체 어디서 나온 말인가..\n처음부터 맛있어야 맛있는거 아닌가?\n그리고 현실은 먹다보면 맛있어지는 것도 아니다. \n익숙해지는 것이다. 이 \'익숙함\'을 맛있다는 것으로 세뇌당해버린 사람들에게 깊은 애도를 표한다. \n뿌셔뿌셔도 몇번 끓여먹다보면 맛있다고 할 사람들이다.\n\n각종 sns나 블로그에 \'평양냉면 도전!\' 이런말이 자주 보인다. 이것만 봐도 평양냉면은 맛없는 음식이란걸 알 수 있다.\n애초에 맛있는 음식에는 \'도전\'이라는 단어를 쓰지않는다.\n\'중국 바퀴벌레튀김 도전\' 이라는 말은 들어봤어도\n\'교촌치킨 허니콤보 도전\' 이라는 말은 못들어봤지 않은가\n\n3. 가격: "떡볶이가 14,000원?", "치킨 한마리가 20,000원?", "배달비가 4,000원?" 이라고 불평하는 시대는 끝났다. \n이제 냉면 한그릇에 14,000원하는 시대가 도래한 것이다. 소주는 언제 또 6000원이 되었나.\n메뉴 대부분이 국내산도 아니었다. \n평양냉면을 즐겨먹는 우리 \'미식가\'분들에겐 \n메밀, 고기가 수입산인건 별 문제가 아닌가보다.\n\n4. 위생: 누가 평양냉면 아니랄까봐 북한을 모티브로 한 것 같다. 끈적끈적한 테이블과 고춧가루 묻은 접시. 시설은 또 군데군데 도배도 안 해서 벽돌이 다 보인다. 레트로 감성이 좋다는 분들은 자기집 벽지도 떼어내고 모서리에 거미줄도 쳐놓고 살 길 바란다.\n\n5. 결론: 진미평양냉면은 맛있는걸로 유명한게 아니다.\n유명한걸로 유명한 것이다. \n\n내가 이렇게 평점1점을 남긴걸 봐도 당신은 진미평양냉면을 먹으러 가겠지. \n왜냐? 유명하니까.\n더보기',
  '맛집인데 손님들을 직원이 커버 하기 힘들어 보임\n정신없음\n테이블간 간격이 좁아서 쾌적하지않음 \n이선균도 낮술때리는 맛집인건 맞음\n더보기',
  '어느 한 아주머니,, 서비스 진짜 엉망임. 아니 서비스가 아니라.. 분명히 정중하게 육수 더 요청했는데 2번이나 말 무시하고... 처음에 중국인 인줄 알았어요 한국말 못 알아듣나?? 당황해서요. 근데 다른 아주머니네명 테이블에는 육수 달라니까 바로 갖다 주시는데. 이게 무슨 경우인가요?? 여기 계신 모든 분이 불친절하다는거 아닙니다. 가게 충분히 바쁘고 육수 달라는거 요청 잊어먹을 수도 있어요. 근데 이건 아니죠,. 정중하게 달라고 했는데 대답도 안하고 무시라뇨?? 아니 말을 들었으면 대답을 하라고요 미친 아줌마야 ㅡㅡ 아 쓰다보니까 빡치네 또\n더보기',
  '서비스 진짜 후져요.. 사람말하는데 귀찮다고 있는대로 미간 찌푸리고 눈치보이게 만드는 아주머니..\n게다가 수저찾는데 옆 테이블도 찾으니 알아서 나눠쓰라고 뭉탱이로 주고 가시네요. 음식값도 비싼데 눈치보며 먹어야하고 냉면도 시원하지않았어요.\n사람도 많은데 불친절하니 음식에 집중도 안되고 정신없었어요. 무슨맛으로 먹었는지 기억도 안나는..\n근처에 있는 다른 평냉집과 많이 차이나네요. 다신 안 가 요.\n더보기',
  '어이 지난 밤에 서빙하시던 아줌마요 정중하게 화장실을 여쭙는데 한숨쉬고 미간을 찌푸리면서 ‘그걸 하나 못 찾아 지친 사람 붙잡고 말을 거냐’란 표정을 지으며 기어코 사람말을 무시해? 내가 웬만해선 그냥 씹어 삼키는데 이 서비스는 진짜 도저히 역겨워서 붙잡고 한소리하려다 다른 아주머니가 말리셔서 겨우 참았수다. 일이 뒤지게 힘드셔도 지켜야 될 마지노선이라는 게 있는 거야. 그거 못 지키면 몰상식하단 얘기 야무지게 들으며 사시는 거고. 바쁜 하루 기분 좀 다독이려고 만삼천원 쳐써가며 냉면 한그릇하러 갔더니만 면 대신 기분만 신나게 말아먹고 왔습디다~ 다들 그냥 을밀* 가십쇼.\n더보기',
  '양이 많음… 매우 많음\n다른 집 생각하고 시켰다가 간신히 다 먹음…\n고기만 엄청 들어가 있음\n만두 따위로 공간을 채우지 않는다\n더보기',
  '비빔냉면 먹었습니다.\n\n사실 손님이 많다보니 접객이 그리 좋지는 않았습니다만, 맛있네요.\n\n맛으로 화가 풀립니다.\n\n막 엄청 신세계다 이런 맛은 아닌데 계속 끌리고 다 먹게되는 그런 맛입니다.\n\n근데 사실 맛 없으면 큰일 날 가격이긴 합니다ㅋㅋ...\n\n만두도 일반 냉면집 만두보다 맛있게 먹었습니다.\n\n거리와 가격 문제만 아니라면 가끔 가고 싶네요.\n더보기',
  '진한 고기육수가 맛있고\n제육도 생각보다 맛있어서 놀람\n다른 메뉴도 괜찮을 것 같아서 재방문 의사있음\n근데 넘 시끄럽고 사람많고 시장바닥\n분위기여서 번잡스러움\n더보기',
  '장점은 맛.\n단점은 불친절과 위생상태\n\n발렛파킹은 화난 사람들 같고, 테이블에서는 쉰내가 나고, 서빙은 귀찮아 하고.\n많이 바빠서 다들 힘들수도 있겠지만 일하기 싫은 사람들이 모인 곳 같았습니다.\n\n그럼에도 불구하고 맛이 있습니다.\n아마도 진짜 맛이 있는 것이겠지요.\n심지어 또 갈겁니다.\n더보기',
  '평양냉면이 이런맛이구나~ 하고 왔어요.\n다른 곳에서 먹어보질 않아서 맛 자체는 평가할 수 없지만 냉면 위에 고명으로 올라간 돼지고기 수육이 너무 비렸습니다. 구역질이 날 정도였고요, 물냉, 비냉 다 그랬습니다. 저 수육이 맛있다는 평이 많던데 저희가 운이 나빴던 건지 혼란스럽네요.\n위생도 나빴습니다. 숟가락 젓가락 손가락으로 슥 닦으니 대부분 기름 때가 묻어있었네요. 대충 물에 담궈서 헹구시는건가? 하는 생각이 들었습니다.\n발렛비도 전용 주차장도 아니면서 현금으로만 받으시고 대주기만 하고 빼주지는 않고... 그러면서 3000원이나 받으시는 이유를 모르겠습니다.\n재방문 의사 없습니다.\n더보기',
  '해장 냉면 1티어로 \n금수복국과 1:1 가능한 전투력. \n\n그냥 먹어도 맛있지만 여러명이 갔다면 \n불고기 시켜서 냉면을 싸서 드셔보세요.\n\n\n주위: \n차를 가져갔거나 친절도에 민감하신분은\n냉면 맛이 전혀 기억 안날 수도 있습니다.\n더보기',
  '밑에 분과 너무나 동감합니다. \n면이 쫄깃하니 맛있는데 위생 안 좋고, 불친절 합니다.\n서빙도 너무 귀찮아하고, 불러도 대답도 없고 발렛도 카드 안 되고 현금으로만 2천원이나 계좌이체 하라고 합니다.\n처음 갔는데 안 가려구요.\n더보기',
  '앵간하면 후기안남기는데 처음으로 쓰네요\n단점 : 발렛주차 2천원 별도인데 지금까지 만나본 발렛요원(요원이란 말 쓰기도 아깝)중 제일 불친절하고 저급함.발렛업체가 주인의 친인척인건지 도대체 뭘 믿고 그렇게 불친절한지 의문\n더보기',
  '평냉리스트 탑쓰리안에 듭니다\n솔직히 식당안은 매니피플인데요\n맛있으니까 참아야죠\n백신맞고 눈치안보고 자주가서 즐길거임\n더보기',
  '여자친구가 냉면 별로 안좋아하지만 내 입맛을 믿고 델꾸왔는데 \n\n\n\n자기 냉면 좋아하네?\n더보기',
  '재료 중에 고춧가루 중국산 쓰심.  \n중국산 고추가루 비위생적이니, 비냉은 드시지 마세요. \n(평냉은 물냉 , 함흥은 비냉이 국룰) \n물냉은 맛이 그럭저럭 먹을만한데 여러집 가본결과 다른집 평랭집 추천함. \n재방문 의사 없음.\n더보기',
  '세번 먹어봐야 맛을 알게 된다는 평양냉면! 부드러운 걸 좋아하는 저로선 잘 먹었는데.. 불친절하고.. 위생 별로.. 같이 간 사람 냉면에 또다른 생명체가.. 바로 바꿔줬지만 기분은 그닥ㅋㅋ 만두 맛있음.. 제육(수육)도 맛있고.. 경영마인드 그거만 고치면 만점인데ㅠ 그래도 보니까 개같이 장사해도 갈 사람은 가겠더군요ㅋㅋㅎㅎ\n더보기',
  '이륜자동차 주차거부하셨습니다. 기분 나빴지만 주차발렛분들 예의있게 말하셔서 순조로히 다른곳에 주차했습니다. 이륜도 사륜과 같은 자동차입니다^^  차별하시면 안됩니다.\n(온면이 계절메뉴라 주문할수없어서 아쉬웠습니다)\n평양냉면과 만두를 주문했습니다\n정말 맛있네요.온면이 안돼, 하는 수없이 주문한 평양냉면으로 주문한것인데 육수의 감칠맛과 단백함이 중독적이었어요. 대신 서빙하는 과정에 고명이 다 흩어졌는지 계란이 면이 아닌 육수에 둥둥떠있더군요.\n서빙하시는 아주머니분들 서비스도 아쉬웠어요.다 먹지 않았는데 그릇이 비어보였는지 막 가져가시더라구요. 이런부분 주의 부탁드립니다\n만두도 단백했으나 고기가들어갔는지 풍미가 좋았고 찍어먹는 다대기가 짭조름하면서 달짝지근해서 만두, 순식간에 먹었습니다. 배불리 잘먹고갑니다^^\n더보기',
  '뭐 시킬건지 고민을 할 수도 있는데\n아줌마가 대뜸와서는\n뭐시킬건지 빨리말해 ! 하면서 화냄 ;;;;;;;\n이런 집은 처음 봄..\n더보기',
  "The food is good, but I just called to order naengmyeon for takeout, and they told me they only do takeout orders in person. One 5-minute cab later I was there, being told they're out of naengmyeon (while servers were still bringing out several for dine-in eaters). Strange waste of time...please be a little considerate of your customers.\n더보기",
  '주차하는 사람들 진짜 문제 심함. 발렛비 냈는데 본인들끼리 소통 안하고 나가는 사람 거의 깡패수준으로 차유리를 부술듯 뚜들기며 멈춰세우고 위협함. 내셨어요 내셨냐고요 ... 말투도 완전 무슨 도망자 취급 받았음ㅋ 냉면 12천원짜리 먹고 기분 잡침. 주차하는사람들 때문에라도 안감. 차안에 어린이가 너무 놀라서.. 다시는 안감\n더보기',
  '먹을 땐 몰랐는데 또 먹고 싶어요 ..\n이런 게 평냉의 매력인 것일까나\n비싼 만두와 제육은 생각보다 평범했어요\n하지만 냉면만 먹기엔 아쉬우니까 또 시키겠죠\n더보기',
  '냉면 덕후로써 정말 만족스러운 맛이었음.. 다른 평냉집에 비해 육수가 간간함. 그래도 ..은은한 육향에 수육과 편육이 올라가 있고 상당히 맛있음. 수육,편육이 막 소주를 부름. 만두도 딱 돌아가신 할머니 스타일의 이북식 만두로 삼삼하게 맛있음. 가격은 좀..  \n 을밀대(면이 더 굵음), 흥남집(함냉)과 맞먹는 매력.. 의정부 평냉은 약간 비슷. 동무밥상도 비슷(간장을 넣은 것 빼고).. 서북면옥 정인면옥과는 다름. \n  맹물맛이라고 별점 하나 주면서 개소리하는 애들입맛은 그냥 육쌈냉면, 일반함냉집이나 가셔..\n더보기',
  '쌉맛있네요...주문이 살짝 잘못 들어가서 고기가 많이 나오긴 했지만 그래도 전혀 마음이 상하지 않을 정도의 존맛탱...맑은 육수에 파 뿌린 거 왜케 맛있죠? 살얼음이 있는 것도 아닌데 시원한 온도에 적절한 간 ㅠㅠ 고기도 정말 맛있었어요ㅠㅠ 주말엔 사람 많을 거 같아서 평일에 시간 나면 가기 좋은 거 같아여\n더보기',
  '일부러 갈 정도는 아님 더운데 가서 열받고 나올 집. 집앞에 있음 모를까... 불친절해서 맛도 모르겠고 다시는 가고 싶지 않음. 고기집 후식냉면이 훨 나음;;; 냉면육수가 모자랐는지 물탄맛...면은 뽑아서 발아 놨는지 뚝뚝 끊기고 불어나오고... 차 댈곳도 있었는데 내손으로 못대게 하고 기어코 발렛비를 받음.... 음식맛도 서비스도 청결도 별 하나도 아까움.\n더보기',
  '저번 주에 방문했을 때 주문한 지 1분도 안돼서 냉면이 나왔는데 양은 줄어들고 면을 미리 삶아 놓았는지 조금 퍼졌음. 육수는 약간 미지근했고 때문에 간이 세게 느껴졌으며 같이 시킨 만두의 간도 이전보다 셌다.\n냉면은 능라도보다 별 한 점 더 줬는데 도로 뺏어야 할 판.\n\n요 몇년 사이 평양냉면의 가격에 거품이 껴도 너무 많이 꼈다. 1만원 이상이나 지불하면서 먹을 만한 음식은 솔직히 아닌데. 들어가는 재료야 뭐 당연히 수입산 섞어 쓸테고 조미료 당연히 조금이라도 넣을 게 뻔하고 말이다. 소비자들이 더 현명해져야 한다.\n더보기',
  '내 평생 최악의 냉면, 아니 내가 반백년 먹어본 음식 중 최악의 음식이 바로 이곳 냉면...\n냉면에서 맛이라고는 1도 찾을수 없음. 냉면 육수가 물 보다도 못하니 국수보다도 못한것을 그 가격에..  \n억지로 먹고나오니 발렛파킹비 까지... \n이 돈에 이렇게 맛없는 냉면을 먹어야만 하는 주변의 서울사람들이 너무 불쌍하게 느껴짐...\n더보기',
  '물냉과 만두를 즐겨먹었었는데...\n지지난주부터 이상하게 양이줄어든느낌이들더라구요...\n저만느낀게아닌...\n특히 만두는 피는 두꺼워지고 크기도 줄어들고..\n냉면은 국물맛도 살짝 자극적으로 변했습니다.\n\n일하시는 분에게 이 얘길했더니..\n아 그래요? 하고 말더란...\n만두는 만드시는분이 달라질 수 있다고 하긴했습니다..\n암튼..\n전 이제 안가려고요...\n그동안 잘 먹었습니다.\n더보기',
  '인생 최악의 식당. 출입문을 들어서자마자, \n아직 자리에 앉지도 않았는데 뭐 주문할 거냐고 묻질 않나, 이제 식사 시작하는데 옆 테이블에 소독한 수저 광주리를 쾅 올려놓질 않나. 김치 맛은 한국 내 최악. 무 반찬 더 달라고 몇번을 말해도 듣고 흘리고. 이럴거면 차라리 고속도로 휴게소나 김밥천국처럼\n셀프를 운영하던가. 평양냉면을 11,000원 주고 여기서 먹느니 돈 2만원 주더라도 서비스 개념있는 식당에서 먹는게 낫다. 아님 차라리 평양냉면을 인생에서 지워버리고 싶다.\n더보기',
  '수요미식회 나오기 전, 생긴지 6개월때부터 다녔는데\n손님 많아지고서는 베짱 장사 하는곳.\n갈때마다 막 대하는 사장님 때문에 기분 나빠 나온다.\n컴플레인하니 따지지말란다. 다신 못가겠음.\n더보기',
  '다른 곳보다 육수가 진하다는 평이 이 집에 대한 공통된 평인 것 같고. 능라도보다 세게 느껴지는 걸로 봐서는 신흥 냉면집들 중에서도 간이 센 편인듯. 하지만 그게 불편하다거나 평양냉면스럽지 않다고 느껴지지는 않았다. 2천원 주면 발렛도 해줘서 차 접근성도 좋음.\n더보기',
  '오 평양면옥과 을지면옥 처음 먹었을 때 느꼈던 감동이ㅋㅋㅋㅋ\n다른 곳은 만두피가 두껍고 속과 어우러지지 않아서 먹기도 불편하던대 이 집 만두는 피도 얇고 착착 감기는 게 완전 내 스타일! 함께 나오는 양념장을 만두 속에 넣어서 드셔보세요\n더보기']]

In [60]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import re

from sklearn.preprocessing import StandardScaler, MinMaxScaler

from nltk.tokenize import word_tokenize, WordPunctTokenizer
from konlpy.tag import Okt, Mecab, Kkma

from wordcloud import WordCloud
from collections import Counter
from PIL import Image
from eunjeon import Mecab

In [40]:
text = ' '.join(re_lst)
mecab = Mecab()
text = re.compile('[^가-힣\s]').sub('', text)
pos = mecab.nouns(text)
pos
stopwords = pd.read_csv("https://raw.githubusercontent.com/yoonkt200/FastCampusDataset/master/korean_stopwords.txt").values.tolist()

pos = [x for x in pos if x not in stopwords]
pos

['여기',
 '살',
 '존',
 '맛',
 '탱',
 '사이즈',
 '바선',
 '사건',
 '사실',
 '뒤',
 '위생',
 '년차',
 '때',
 '번',
 '칼',
 '개',
 '개',
 '칼',
 '개',
 '교환',
 '닭',
 '베이스',
 '육',
 '순데',
 '여기',
 '바지락',
 '칼국수',
 '불친절',
 '건',
 '소린지',
 '거기',
 '검정',
 '색',
 '옷',
 '분',
 '데',
 '때',
 '껌',
 '하나',
 '불친절',
 '거',
 '소리',
 '것',
 '진작',
 '예전',
 '구경',
 '때',
 '곳',
 '십',
 '년',
 '만',
 '거',
 '예전',
 '맛',
 '칼국수',
 '식감',
 '국물',
 '간고기',
 '마늘',
 '향',
 '맛',
 '짜쿵',
 '마늘',
 '것',
 '절',
 '김치',
 '맛',
 '년',
 '현재',
 '맛',
 '이전',
 '코로나',
 '시국',
 '장사',
 '이전',
 '테이블',
 '아크릴',
 '칸막이',
 '팀',
 '합석',
 '팔',
 '불편',
 '앞',
 '번잡',
 '날',
 '이용']

In [54]:
df0 = pd.DataFrame(pd.DataFrame(pos).value_counts(), columns = ['count']).reset_index()
df0

      0  count
0     맛      5
1     때      3
2     개      3
3    예전      2
4    마늘      2
..  ...    ...
63   사건      1
64   사실      1
65  사이즈      1
66    색      1
67   현재      1

[68 rows x 2 columns]

In [64]:
sudo apt-get install libfreetype6-dev 

pip uninstall pillow 

pip install pillow==2.8.2

SyntaxError: invalid syntax (1375873632.py, line 1)

In [63]:
df = pd.DataFrame(pd.DataFrame(pos).value_counts(), columns = ['count']).reset_index()
df = df.reset_index().rename(columns = {0 : 'word'})

def color_light(word, font_size, position,orientation,random_state=None, **kwargs):
    return("hsl({:d},{:d}%, {:d}%)".format(np.random.randint(239,313),np.random.randint(26,32),np.random.randint(45,80)))

def color_dark(word, font_size, position,orientation,random_state=None, **kwargs):
    return("hsl({:d},{:d}%, {:d}%)".format(np.random.randint(239,313),np.random.randint(26,32),np.random.randint(10,30)))


fre = dict(zip(df['word'], df['count']))
wc = WordCloud(background_color="white")
gen = wc.generate_from_frequencies(fre)

fig = plt.figure()
plt.imshow(gen)                   
plt.axis('off')

ImportError: The _imagingft C module is not installed

In [58]:
# 크롤링
def kakao(key) :
    
    driver = webdriver.Chrome("chromedriver")
    url = "https://map.kakao.com/"
    driver.get(url)

    searchbox = driver.find_element(By.ID, 'search.keyword.query')
    searchbox.send_keys("서울시 {} 음식점".format(key))

    searchbutton = driver.find_element(By.ID, 'search.keyword.submit')
    driver.execute_script('arguments[0].click();', searchbutton)
    time.sleep(2)

    more = driver.find_element(By.ID, 'info.search.place.more')
    driver.execute_script('arguments[0].click();', more)
    time.sleep(2)

    kakao_df = pd.DataFrame()
    
    for j in range(8) :
    
        title = []
        category = []
        rating = []
        rating_num = []
        review = []
        address = []

        for i in range(5) :

            page = driver.find_element(By.ID, 'info.search.page.no{}'.format(i+1))
            driver.execute_script('arguments[0].click();', page)
            time.sleep(2)
            title_element = "ul.placelist>li.PlaceItem.clickArea>div.head_item.clickArea>strong.tit_name"
            cate_element = "ul.placelist>li.PlaceItem.clickArea>div.head_item.clickArea>span.subcategory.clickable"
            rating_element = "ul.placelist>li.PlaceItem.clickArea>div.rating.clickArea>span.score>em.num"
            ratingnum_element = "ul.placelist>li.PlaceItem.clickArea>div.rating.clickArea>span.score>a.numberofscore"
            re_element = "ul.placelist>li.PlaceItem.clickArea>div.rating.clickArea>a.review>em"
            add_element = "ul.placelist>li.PlaceItem.clickArea>div.info_item>div.addr"

            for x in driver.find_elements(By.CSS_SELECTOR, title_element) :
                title.append(x.text)

            for x in driver.find_elements(By.CSS_SELECTOR, cate_element) :
                category.append(x.text)

            for x in driver.find_elements(By.CSS_SELECTOR, rating_element) :
                rating.append(x.text)    

            for x in driver.find_elements(By.CSS_SELECTOR, ratingnum_element) :
                rating_num.append(x.text)

            for x in driver.find_elements(By.CSS_SELECTOR, re_element) :
                review.append(x.text)

            for x in driver.find_elements(By.CSS_SELECTOR, add_element) :
                address.append(x.text)

            df0 = pd.DataFrame({'Title' : title, 'Category' : category, 
                               'Rating' : rating, 'RatingNum' : rating_num, 'Review' : review, 'Address' : address})
        
        kakao_df = pd.concat([kakao_df, df0], axis = 0)

        nxt = driver.find_element(By.ID, 'info.search.page.next')
        driver.execute_script('arguments[0].click();', nxt)
        time.sleep(2)
    
    driver.close() 

    return kakao_df

# def final_kakaomap(key) :
    
#     driver = webdriver.Chrome("chromedriver")
#     url = "https://map.kakao.com/"
#     driver.get(url)

#     searchbox = driver.find_element(By.ID, 'search.keyword.query')
#     searchbox.send_keys("서울시 {} 음식점".format(key))

#     searchbutton = driver.find_element(By.ID, 'search.keyword.submit')
#     driver.execute_script('arguments[0].click();', searchbutton)
#     time.sleep(2)

#     more = driver.find_element(By.ID, 'info.search.place.more')
#     driver.execute_script('arguments[0].click();', more)
#     time.sleep(2)

#     kakao_df = pd.DataFrame()

#     for j in range(8) :

#         df0 = kakao()

#         kakao_df = pd.concat([kakao_df, df0], axis = 0)

#         nxt = driver.find_element(By.ID, 'info.search.page.next')
#         driver.execute_script('arguments[0].click();', nxt)
#         time.sleep(2)

#     driver.close() 
    
#     return kakao_df

# 주소 좌표 변환
def geocoding(area):
    try:
        geolocoder = Nominatim(user_agent = 'South Korea', timeout=None)
        geo = geolocoder.geocode(area)
        x_y = [geo.latitude, geo.longitude]
        return x_y
    
    except:
        return [0,0]

# 전처리
def preprocessing(df) :
    
    new = []
    for t in df['Title'] :
        new.append(' '.join(t.split(' ')[1:]))
    df['newTitle'] = new
    
    new_add1 = []
    new_add2 = []
    
    for x in df['Address'] :
        a = x.split('\n')
        new_add1.append(a[0])
        new_add2.append(b[1])
        
    df['도로명'] = new_add1
    df['지번'] = new_add2
    
    
    lati = []
    longit = []
    for y in df['도로명'] :
        y = ' '.join(y.split(' ')[:4])
        
        lat = geocoding(y)[0]
        long = geocoding(y)[1]
        
        lati.append(lat)
        longit.append(long)
    
    df['latitude'] = lati
    df['longitude'] = longit
    
    return df

In [4]:
# def final_kakaomap(key) :
    
#     driver = webdriver.Chrome("chromedriver")
#     url = "https://map.kakao.com/"
#     driver.get(url)

#     searchbox = driver.find_element(By.ID, 'search.keyword.query')
#     searchbox.send_keys("서울시 {} 음식점".format(key))

#     searchbutton = driver.find_element(By.ID, 'search.keyword.submit')
#     driver.execute_script('arguments[0].click();', searchbutton)
#     time.sleep(2)

#     more = driver.find_element(By.ID, 'info.search.place.more')
#     driver.execute_script('arguments[0].click();', more)
#     time.sleep(2)

#     kakao_df = pd.DataFrame()

#     for j in range(8) :

#         df0 = kakao()

#         kakao_df = pd.concat([kakao_df, df0], axis = 0)

#         nxt = driver.find_element(By.ID, 'info.search.page.next')
#         driver.execute_script('arguments[0].click();', nxt)
#         time.sleep(2)

#     driver.close() 
    
#     return kakao_df

In [17]:
key_lst = ['노원구', '중랑구', '광진구', '도봉구', '강북구', '동대문구', '성동구', '성북구',
           '종로구', '중구', '용산구', '은평구', '서대문구', '마포구' ,'강서구', '양천구', '구로구', 
           '영등포구', '금천구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구']

final_df2 = pd.DataFrame()
for key in key_lst :
    df = kakao(key)
    final_df2 = pd.concat([final_df, df], axis = 0)
    
final_df2.shape

(11550, 6)

In [18]:
df = pd.concat([final_df, final_df2], axis = 0)

In [20]:
final_kakao_df = df.drop_duplicates(subset='Title')
final_kakao_df.shape

(10473, 6)

In [80]:
final_kakao_df.drop(['지번'], axis = 1).rename(columns = {'newTitle' : 'Store'})
# final_kakao_df.rename(columns = {'newTitle' : 'Store'})

,Title,Category,Rating,RatingNum,Review,Address,Store,도로명,latitude,longitude
0,A 강강술래 상계지점,"육류,고기",3.4,61건,135,서울 노원구 동일로 1628 1층\n(지번) 상계동 1025-4,강강술래 상계지점,서울 노원구 동일로 1628 1층,37.673692,127.055257
1,B 감동식당,한식,4.9,385건,228,서울 노원구 한글비석로47길 58 1층\n(지번) 상계동 434-49,감동식당,서울 노원구 한글비석로47길 58 1층,37.659783,127.066045
2,C 로니로티 노원점,양식,4.2,47건,250,서울 노원구 상계로 63-7 청우빌딩 2층 201호\n(지번) 상계동 603-8,로니로티 노원점,서울 노원구 상계로 63-7 청우빌딩 2층 201호,37.656717,127.063254
3,D 라라브레드 공릉점,디저트카페,3.9,112건,355,서울 노원구 공릉로41길 32\n(지번) 공릉동 350-24,라라브레드 공릉점,서울 노원구 공릉로41길 32,37.624630,127.078503
4,E 경복식당,한식,4.7,126건,171,서울 노원구 공릉로39길 10\n(지번) 공릉동 740,경복식당,서울 노원구 공릉로39길 10,37.623748,127.078514
...,...,...,...,...,...,...,...,...,...,...
45,A 어사출또 암사역점,회,4.0,8건,14,서울 강동구 올림픽로 794 1층\n(지번) 암사동 500-2,어사출또 암사역점,서울 강동구 올림픽로 794 1층,37.541280,127.124340
46,B 김선장횟집,회,5.0,1건,6,서울 강동구 올림픽로98길 49\n(지번) 암사동 495,김선장횟집,서울 강동구 올림픽로98길 49,37.550800,127.129570
47,C 종로곱창,"곱창,막창",4.5,8건,9,서울 강동구 구천면로34길 38\n(지번) 천호동 201-19,종로곱창,서울 강동구 구천면로34길 38,37.543080,127.134375
48,D 중경해선훠궈,중식,4.8,10건,73,서울 강동구 천호옛길 94-6\n(지번) 성내동 48-12,중경해선훠궈,서울 강동구 천호옛길 94-6,37.534100,127.123770
49,E 오가네,"육류,고기",4.0,11건,22,서울 강동구 천호대로155길 15\n(지번) 천호동 454-8,오가네,서울 강동구 천호대로155길 15,37.538640,127.126097

In [59]:
kakaomap_final = preprocessing(final_kakao_df)

C:\Users\1dk1d\AppData\Local\Temp\ipykernel_20544\1895395143.py:123: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['newTitle'] = new
C:\Users\1dk1d\AppData\Local\Temp\ipykernel_20544\1895395143.py:133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['도로명'] = new_add1
C:\Users\1dk1d\AppData\Local\Temp\ipykernel_20544\1895395143.py:134: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['지번'] = new_add2
C:\Users\1dk1d\AppData\Local\Temp\ipykernel_20544\1895395143.py:148: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['latitude'] = lati
C:\Users\1dk1d\AppData\Local\Temp\ipykernel_20544\1895395143.py:149: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['longitude'] = longit

In [64]:
kakaomap_final.to_csv('최최최종_카카오맵서울.csv', encoding = 'cp949')

In [66]:
pd.read_csv('최최최종_카카오맵서울.csv',  encoding = 'cp949')

,Unnamed: 0,Title,Category,Rating,RatingNum,Review,Address,newTitle,도로명,지번,latitude,longitude
0,0,A 강강술래 상계지점,"육류,고기",3.4,61건,135,서울 노원구 동일로 1628 1층\n(지번) 상계동 1025-4,강강술래 상계지점,서울 노원구 동일로 1628 1층,지,37.673692,127.055257
1,1,B 감동식당,한식,4.9,385건,228,서울 노원구 한글비석로47길 58 1층\n(지번) 상계동 434-49,감동식당,서울 노원구 한글비석로47길 58 1층,지,37.659783,127.066045
2,2,C 로니로티 노원점,양식,4.2,47건,250,서울 노원구 상계로 63-7 청우빌딩 2층 201호\n(지번) 상계동 603-8,로니로티 노원점,서울 노원구 상계로 63-7 청우빌딩 2층 201호,지,37.656717,127.063254
3,3,D 라라브레드 공릉점,디저트카페,3.9,112건,355,서울 노원구 공릉로41길 32\n(지번) 공릉동 350-24,라라브레드 공릉점,서울 노원구 공릉로41길 32,지,37.624630,127.078503
4,4,E 경복식당,한식,4.7,126건,171,서울 노원구 공릉로39길 10\n(지번) 공릉동 740,경복식당,서울 노원구 공릉로39길 10,지,37.623748,127.078514
...,...,...,...,...,...,...,...,...,...,...,...,...
10468,45,A 어사출또 암사역점,회,4.0,8건,14,서울 강동구 올림픽로 794 1층\n(지번) 암사동 500-2,어사출또 암사역점,서울 강동구 올림픽로 794 1층,지,37.541280,127.124340
10469,46,B 김선장횟집,회,5.0,1건,6,서울 강동구 올림픽로98길 49\n(지번) 암사동 495,김선장횟집,서울 강동구 올림픽로98길 49,지,37.550800,127.129570
10470,47,C 종로곱창,"곱창,막창",4.5,8건,9,서울 강동구 구천면로34길 38\n(지번) 천호동 201-19,종로곱창,서울 강동구 구천면로34길 38,지,37.543080,127.134375
10471,48,D 중경해선훠궈,중식,4.8,10건,73,서울 강동구 천호옛길 94-6\n(지번) 성내동 48-12,중경해선훠궈,서울 강동구 천호옛길 94-6,지,37.534100,127.123770
10472,49,E 오가네,"육류,고기",4.0,11건,22,서울 강동구 천호대로155길 15\n(지번) 천호동 454-8,오가네,서울 강동구 천호대로155길 15,지,37.538640,127.126097

In [21]:
df.shape

(22550, 6)

In [12]:
final_df.shape

(11000, 6)

In [15]:
final_df.to_csv('동작구까지.csv')

In [16]:
pd.read_csv('동작구까지.csv')

,Unnamed: 0,Title,Category,Rating,RatingNum,Review,Address
0,0,A 강강술래 상계지점,"육류,고기",3.4,61건,135,서울 노원구 동일로 1628 1층\n(지번) 상계동 1025-4
1,1,B 감동식당,한식,4.9,385건,228,서울 노원구 한글비석로47길 58 1층\n(지번) 상계동 434-49
2,2,C 로니로티 노원점,양식,4.2,47건,250,서울 노원구 상계로 63-7 청우빌딩 2층 201호\n(지번) 상계동 603-8
3,3,D 라라브레드 공릉점,디저트카페,3.9,112건,355,서울 노원구 공릉로41길 32\n(지번) 공릉동 350-24
4,4,E 경복식당,한식,4.7,126건,171,서울 노원구 공릉로39길 10\n(지번) 공릉동 740
...,...,...,...,...,...,...,...
10995,45,A 미각양꼬치,양꼬치,2.7,15건,3,"서울 동작구 만양로 94-1 1,2층\n(지번) 노량진동 119-156"
10996,46,B 천안문,중국요리,4.7,12건,4,서울 동작구 보라매로 65\n(지번) 신대방동 344-41
10997,47,C 광명수산,회,2.7,3건,7,서울 동작구 동작대로29가길 5\n(지번) 사당동 89-61
10998,48,D 불타는소금구이 상도동점,"육류,고기",4.2,12건,28,서울 동작구 상도로58길 2\n(지번) 상도동 490-5
10999,49,E 리버풀펍,"호프,요리주점",4.5,8건,9,서울 동작구 흑석로 101-10 1층\n(지번) 흑석동 184-9

In [4]:
kakao_df_0 = kakao_df[:500]
kakao_df_0.tail()

,Title,Category,Rating,RatingNum,Review,Address
45,A 됐소 강남점,"육류,고기",4.3,10건,93,"서울 서초구 서초대로78길 46 익산빌딩 2,3층\n(지번) 서초동 1330-15"
46,B 등촌칼국수,국수,3.8,158건,183,서울 강서구 화곡로64길 68 1~3층\n(지번) 등촌동 654-95
47,C 루엘드파리,"제과,베이커리",3.9,143건,330,"서울 서초구 서초중앙로 18 1층 107,112,117,118호\n(지번) 서초동 ..."
48,D 대려도,중국요리,3.6,37건,50,서울 강남구 역삼로 118 2층\n(지번) 역삼동 833
49,E 영화루,중국요리,3.1,99건,236,서울 종로구 자하문로7길 65\n(지번) 누하동 25-1

In [5]:
kakao_df.shape, kakao_df_0.shape

((550, 6), (500, 6))

In [6]:
test = kakao_df.drop_duplicates(subset = 'Title')
test.shape

(500, 6)

In [7]:
test.to_csv('kakaomap_서울.csv')

In [9]:
test.tail()

,Title,Category,Rating,RatingNum,Review,Address
45,A 됐소 강남점,"육류,고기",4.3,10건,93,"서울 서초구 서초대로78길 46 익산빌딩 2,3층\n(지번) 서초동 1330-15"
46,B 등촌칼국수,국수,3.8,158건,183,서울 강서구 화곡로64길 68 1~3층\n(지번) 등촌동 654-95
47,C 루엘드파리,"제과,베이커리",3.9,143건,330,"서울 서초구 서초중앙로 18 1층 107,112,117,118호\n(지번) 서초동 ..."
48,D 대려도,중국요리,3.6,37건,50,서울 강남구 역삼로 118 2층\n(지번) 역삼동 833
49,E 영화루,중국요리,3.1,99건,236,서울 종로구 자하문로7길 65\n(지번) 누하동 25-1

In [10]:
final_kakao = preprocessing(test)

C:\Users\1dk1d\AppData\Local\Temp\ipykernel_11864\1681530135.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['newTitle'] = new
C:\Users\1dk1d\AppData\Local\Temp\ipykernel_11864\1681530135.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['도로명'] = new_add1
C:\Users\1dk1d\AppData\Local\Temp\ipykernel_11864\1681530135.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['지번'] = new_add2
C:\Users\1dk1d\AppData\Local\Temp\ipykernel_11864\1681530135.py:87: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['latitude'] = lati
C:\Users\1dk1d\AppData\Local\Temp\ipykernel_11864\1681530135.py:88: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['longitude'] = longit

In [16]:
final_kakao = final_kakao.reset_index(drop = True)
final_kakao[final_kakao['latitude'] == 0]

In [36]:
final_kakao.loc[240, ['latitude', 'longitude']] = geocoding('서울 영등포구 대림동 963-9')
final_kakao.loc[258, ['latitude', 'longitude']] = geocoding('서울 중구 명동1가 59-1')

final_kakao.loc[[240, 258]]

In [43]:
final_kakao.isnull().sum()

Title        0
Category     0
Rating       0
RatingNum    0
Review       0
Address      0
newTitle     0
도로명          0
지번           0
latitude     0
longitude    0
dtype: int64

In [44]:
final_kakao.to_csv('FinalKakaoMap_서울.csv')

In [45]:
kakaomap = final_kakao[['newTitle', 'Category', 'Rating', 'Review', '도로명', '지번', 'latitude', 'longitude']]

In [48]:
kakaomap.to_csv('test.csv')

In [49]:
pd.read_csv('test.csv')

,Unnamed: 0,newTitle,Category,Rating,Review,도로명,지번,latitude,longitude
0,0,명동교자 본점,분식,3.6,"2,201",서울 중구 명동10길 29,명동2가 25-36,37.563189,126.985590
1,1,진미평양냉면,냉면,3.6,819,서울 강남구 학동로 305-3 정각빌딩 1층,논현동 115-10,37.513421,127.028583
2,2,금돼지식당,"육류,고기",3.8,"1,095",서울 중구 다산로 149,신당동 370-69,37.550779,127.007644
3,3,어니언 안국점,카페,3.5,"1,432",서울 종로구 계동길 5,계동 146-1,37.578268,126.986744
4,4,중앙해장,해장국,3.9,943,서울 강남구 영동대로86길 17 육인빌딩 1층,대치동 996-16,37.508293,127.065495
...,...,...,...,...,...,...,...,...,...
495,495,됐소 강남점,"육류,고기",4.3,93,"서울 서초구 서초대로78길 46 익산빌딩 2,3층",서초동 1330-15,37.496167,127.027668
496,496,등촌칼국수,국수,3.8,183,서울 강서구 화곡로64길 68 1~3층,등촌동 654-95,37.556247,126.856495
497,497,루엘드파리,"제과,베이커리",3.9,330,"서울 서초구 서초중앙로 18 1층 107,112,117,118호",서초동 1445-13,37.484000,127.017323
498,498,대려도,중국요리,3.6,50,서울 강남구 역삼로 118 2층,역삼동 833,37.497199,127.041991
499,499,영화루,중국요리,3.1,236,서울 종로구 자하문로7길 65,누하동 25-1,37.579304,126.969992

In [70]:
df = pd.read_csv('최최최종_카카오맵서울.csv', encoding = 'cp949').drop(['지번', 'Address', 'Title', 'Unnamed: 0'], axis = 1)
df
df.to_csv('최종_카카오맵_서울.csv', encoding = 'cp949')

In [77]:
lst = []
for x in df['도로명'] :
    y = x.split(' ')
    lst.append(y[1])
df['행정구'] = lst
df.to_csv('test_행정구.csv', encoding = 'cp949')

In [75]:
df['행정구'].value_counts()

중구      501
노원구     500
광진구     500
동대문구    500
중랑구     500
강서구     499
강북구     499
성동구     499
성북구     499
종로구     499
서대문구    499
마포구     499
구로구     498
양천구     498
은평구     498
용산구     498
도봉구     498
영등포구    497
동작구     497
강동구     497
금천구     496
관악구       2
Name: 행정구, dtype: int64

In [38]:
driver = webdriver.Chrome("chromedriver")
url = "https://map.kakao.com/"
driver.get(url)

searchbox = driver.find_element(By.ID, 'search.keyword.query')
searchbox.send_keys("서울시 음식점")

searchbutton = driver.find_element(By.ID, 'search.keyword.submit')
driver.execute_script('arguments[0].click();', searchbutton)
time.sleep(2)

more = driver.find_element(By.ID, 'info.search.place.more')
driver.execute_script('arguments[0].click();', more)
time.sleep(2)

data_lst = []

for j in range(7) :
#     for i in range(5) :

#         page = driver.find_element(By.ID, 'info.search.page.no{}'.format(i+1))
#         driver.execute_script('arguments[0].click();', page)
#         time.sleep(2)

# #         data = driver.find_elements(By.CSS_SELECTOR, "ul.placelist>li.PlaceItem.clickArea")

#         data = driver.find_elements(By.CSS_SELECTOR, "ul.placelist>li.PlaceItem.clickArea>div.head_item.clickArea>strong.tit_name")
#         for x in data :
#             data_lst.append(x.text)
    df0 = kakao()

    nxt = driver.find_element(By.ID, 'info.search.page.next')
    driver.execute_script('arguments[0].click();', nxt)
    time.sleep(2)


driver.close()

In [39]:
len(data_lst)

500

In [22]:
driver = webdriver.Chrome("chromedriver")
url = "https://map.kakao.com/"
driver.get(url)

searchbox = driver.find_element(By.ID, 'search.keyword.query')
searchbox.send_keys("서울시 음식점")

searchbutton = driver.find_element(By.ID, 'search.keyword.submit')
driver.execute_script('arguments[0].click();', searchbutton)
time.sleep(2)

more = driver.find_element(By.ID, 'info.search.place.more')
driver.execute_script('arguments[0].click();', more)
time.sleep(2)

title = []
category = []
rating = []
rating_num = []
review = []
address = []

for i in range(5) :

    page = driver.find_element(By.ID, 'info.search.page.no{}'.format(i+1))
    driver.execute_script('arguments[0].click();', page)
    time.sleep(2)
    title_element = "ul.placelist>li.PlaceItem.clickArea>div.head_item.clickArea>strong.tit_name"
    cate_element = "ul.placelist>li.PlaceItem.clickArea>div.head_item.clickArea>span.subcategory.clickable"
    rating_element = "ul.placelist>li.PlaceItem.clickArea>div.rating.clickArea>span.score>em.num"
    ratingnum_element = "ul.placelist>li.PlaceItem.clickArea>div.rating.clickArea>span.score>a.numberofscore"
    re_element = "ul.placelist>li.PlaceItem.clickArea>div.rating.clickArea>a.review>em"
    add_element = "ul.placelist>li.PlaceItem.clickArea>div.info_item>div.addr"
    
    for x in driver.find_elements(By.CSS_SELECTOR, title_element) :
        title.append(x.text)
    
    for x in driver.find_elements(By.CSS_SELECTOR, cate_element) :
        category.append(x.text)
    
    for x in driver.find_elements(By.CSS_SELECTOR, rating_element) :
        rating.append(x.text)    
        
    for x in driver.find_elements(By.CSS_SELECTOR, ratingnum_element) :
        rating_num.append(x.text)
        
    for x in driver.find_elements(By.CSS_SELECTOR, re_element) :
        review.append(x.text)
        
    for x in driver.find_elements(By.CSS_SELECTOR, add_element) :
        address.append(x.text)
        
df = pd.DataFrame({'Title' : title, 'Category' : category, 
                   'Rating' : rating, 'RatingNum' : rating_num, 'Review' : review, 'Address' : address})

In [23]:
len(title), len(category), len(rating), len(rating_num), len(review), len(address)

(75, 75, 75, 75, 75, 75)

In [24]:
df = pd.DataFrame({'Title' : title, 'Category' : category, 
                   'Rating' : rating, 'RatingNum' : rating_num, 'Review' : review, 'Address' : address})

In [25]:
df.shape

(75, 6)

In [27]:
new_add = []
for x in df['Address'] :
    new_add.append(x.split('\n')[0])
df['NewAddress'] = new_add
df.head()

,Title,Category,Rating,RatingNum,Review,Address,NewAddress
0,A 명동교자 본점,분식,3.6,912건,"2,200",서울 중구 명동10길 29\n(지번) 명동2가 25-36,서울 중구 명동10길 29
1,B 진미평양냉면,냉면,3.6,280건,819,서울 강남구 학동로 305-3 정각빌딩 1층\n(지번) 논현동 115-10,서울 강남구 학동로 305-3 정각빌딩 1층
2,C 금돼지식당,"육류,고기",3.8,247건,"1,095",서울 중구 다산로 149\n(지번) 신당동 370-69,서울 중구 다산로 149
3,D 어니언 안국점,카페,3.5,215건,"1,432",서울 종로구 계동길 5\n(지번) 계동 146-1,서울 종로구 계동길 5
4,E 중앙해장,해장국,3.9,404건,943,서울 강남구 영동대로86길 17 육인빌딩 1층\n(지번) 대치동 996-16,서울 강남구 영동대로86길 17 육인빌딩 1층

In [ ]:
ㅇㄹ.